[user]
name = {{ .git.username }}
email = {{ .git.email }}

[core]
editor = hx
pager = delta

[init]
defaultBranch = main

[interactive]
diffFilter = delta --color-only

[merge]
conflictStyle = zdiff3

[diff]
colorMoved = default

[log]
date = format-local:%d/%m/%Y %H:%M:%S

[delta]
navigate = true
syntax-theme = "OneHalfDark"
side-by-side = true
line-numbers = true
file-style = "omit"
file-decoration-style = "omit"
line-numbers-left-style = "white"
line-numbers-right-style = "white"
hunk-header-style = "file"
hunk-header-decoration-style = "white box"
hunk-header-file-style = "white"
hunk-header-line-number-style = "white"
